

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Start header css */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7857;
    letter-spacing: 0.075em;
    color: #333;
    background-color: #fff;
}
.section_gap{
    padding: 100px 0;
}
.main_header{
    background: #fff;
    
}
.search-bar {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 9999;
}
.search-icon {
  position: absolute;
  right: 15px;
  top: 30px;
}
.search-icon i{
    color:#585858; 
    transition: all 0.5s ease-in-out;
}
.search-icon i:hover{
    color: #efd524;
}
.search-icon:visited{
    
    display: none;
    
    
}
.search_button {
  background: #efd524 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  text-shadow: none;
  transition: all 0.5s ease-in-out 0s;
}
.search_button:hover{
     background: #fff;
     color: #efd524;
     transition: all 0.5s ease-in-out;
}
.search-form{
    
    display: none;
    margin-right:15px;
    margin-top: 48px;
    
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li.active > a,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover {
    background-color: #efd524;
    color: #fff;
     outline: none;
}
.navbar-custom .navbar-toggle {
    background: #efd524;
}
.main_header{
    z-index: 20;
}
.navbar-custom {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    z-index: 1111;
    
    
}


.navbar-custom .nav li > a {
    
    font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
    color:#585858; 
    
    font-weight: 700;
    padding: 35px 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
}
.navbar-brand {
  
  padding:20px;
}
.is-sticky .navbar-custom .nav li > a {
  padding: 20px;
}

.navbar-collapse {
    max-height: 340px;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #fff;
}

a.focus{outline: none}
/* End header css*/

/* Start slider css */

.carousel-control.left {
  background-image: none;
 
}
.carousel-control.right {
  background-image: none;
 
}
.carousel-control {
  bottom: 0;
  color: #efd524;
  font-size: 30px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top:50%;
  width: 15%;
}

.carousel-caption {
  bottom: 20px;
  color: #fff;
  left: 15%;
  padding-bottom: 50px;
  padding-top: 150px;
  position: absolute;
  right: 15%;
  text-align: center;
  z-index: 10;
   left: 20%;
  
  right: 20%;
  text-shadow:none;
}
.carousel-caption h2{
    font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  margin: 10px 0;
}
.carousel-caption h2 span{
    color:#efd524;;
}
.carousel-caption p{
    font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0;
}
.scroll_arrow i{
    border: 2px solid #b1aeae;
    border-radius: 30%;
    padding: 15px 10px;
    font-size: 18px;
    color:#fff;
    margin: 10px;
    transition: all 0.5s ease-in;
}
.scroll_arrow i:hover{
    
    background: #efd524;
    color: #fff;
    border: 2px solid #efd524;
}
.slider_button {
  background: #efd524 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  
  margin:  10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  transition: all 0.5s ease-in;
  
}
.slider_button:hover{
    background: #bca71c;
    
} 
.carousel-indicators .active {
  background-color: #efd524;
  height: 20px;
  margin: 0;
  width: 20px;
  border: 1px solid #efd524;
  margin: 3px;
  
}
.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 3px;
  text-indent: -999px;
  width: 20px;
   
}

/* End slider area css */

/* Start feature area css */
.feature_item{
    transition: all 0.5s ease-in-out;
}
.feature_item i{  
    color: #363636;
    border: 2px solid #e7eaea;
    border-radius:100%;
    padding: 20px;
    font-size: 24px;
     transition: all 0.5s ease-in-out;
}
.feature_item h2{
    color: #363636;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
    transition: all 0.5s ease-in-out;
}
.feature_item p{
    color: #363636;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   
}
.feature_item:hover.feature_item i{
     border: 2px solid #efd524;
}
.feature_item:hover.feature_item h2, 
.feature_item:hover.feature_item i{  
    color: #efd524;
   
}
/* End feature area css */

/* Start Agency area css */
#agency{
    background: #f2f1f1;
}
.agency_item h2,.work_header h2{
   color: 363636;
   font-family: 'Raleway', sans-serif;
   font-size: 30px; 
   font-weight: 800;
}
.agency_item p{
    text-align: justify;
    color: #989999;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
}
/* End Agency area css */


/* Start Work area css */
/* ---- isotope ---- */
		
.isotope-filters {
        display: table;
        margin: 20px  auto;
}
.isotope-filters button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #989999;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    margin: 2px;
   
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
  }
.isotope-filters  button:focus {
        outline: none;
        outline-style: none;
        outline-offset:0; 
}
.isotope-filters button.active {
  background: #efd524 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
 
  padding: 5px 10px;
  
}

.isotope-filters  button.active .badge{
    
    opacity: 1;
}
.isotope-filters .badge {
  background: #efd524 none repeat scroll 0 0;
  border-radius: 100%;
  font-size: 15px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: -25px;
}
.isotope {

        max-width: 1200px;
}

/* clear fix */
.isotope:after {
        content: '';
        display: block;
        clear: both;
}

/* ---- .item ---- */

.items {
float: left;
width: 200px;
height: 200px;
background: #f1c40f;
border: 2px solid #333;
border-color: hsla(0, 0%, 0%, 0.7);
}

.items.width2 { width: 400px;
background: #1abc9c;
}
.items.height2 { height: 400px; 
background: #2ecc71;
}
.fivestar{
    background: #8e44ad;
    
}
.items {
	float: left;
	border: 5px solid #fff;
	overflow: hidden;
}
.isotop-overlay{
	position:absolute;
	background:#f0d731;
        
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transform-origin:top left;
	-webkit-transform:rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transition: all 0.5s ease;
        
}
.items:hover .isotop-overlay{
	opacity:.60;
	-webkit-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}                                 
 

.frast .expand{
    
    top:30%;
}
.expand{
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    opacity: 0;
}

.items:hover .expand{
    
    opacity: 1;
}

.hexa{
	position:relative;
	height:25px;
	width:46px;
	display:inline-block;
	margin-top:11px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	margin-left:10px;
	z-index:0;
}
.hexa:after{
	content:"";
	position:absolute;
	left:0;
	height:25px;
	width:45px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform:rotate(60deg);
        -ms-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        
	z-index:-1;
}
.hexa:before{
	content:"";
	position:absolute;
	left:0;
	height:25px;
	width:45px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform:rotate(120deg);
        -ms-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
	z-index:-1;
}

.hexa:hover:after,
.hexa:hover:before,
.hexa:hover{
    background:#FFF;
    border-left:1px solid #fff;
	border-right:1px solid #fff;
    
}
.hexa i{
	color:#fff;
}
.expand:hover .hexa i{
	color:#efd524;
}
.isotop-overlay,
.expand,
.hexa,
.hexa:after,
.hexa:before,
.hexa i{
	-webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        
}
.isotope-filters{   
    position: relative;
}

.expand h3{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  
}

.expand p{
    
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  
}


/* End work area css */

/* Start counter area css */

#counter{  
    background-image: url(../img/counter-bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.counter_overlay {
 
  padding: 40px 0px;
}
#counter h2{
    font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  z-index: 9999;
}

#myStat-1 span, #myStat-2 span, #myStat-3 span, #myStat-4 span {
  border: 12px solid #696767;
  border-radius: 100%;
  height: 190px;
  left: 31px;
  position: absolute;
  top: 30px;
  width: 188px;
}
/* End counter area css */

/* Start main feature area css */
#main_feature{
    padding-top:50px;
}
.feature_header_content{
    margin: 20px 0;
}
.feature_header_content h2, .team_header_content h2, .pricing_header_content h2, .blog_header_content h2{
     font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #363636;
    
}
.feature_header_content p, .team_header_content p,.pricing_header_content p, .blog_header_content p{
     font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #989999;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  
    
}
.feature_content h3{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #363636;
  transition: all 0.5s ease-in-out;
}
.feature_content p{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #989999;
  padding: 5px 0;
}
.feature_content i {
  border: 5px solid #e7eaea;
  border-radius: 100%;
  color: #efd524;
  margin-top: 10px;
  padding: 15px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
.feature_content i:hover {
    
}

.feature_content:hover.feature_content i{
    border: 5px solid #efd524;
}
.feature_content:hover.feature_content h3{
    color:#efd524;
}
/* End main feature area css */

/* Start skill area css */
#skill{
    background: #f2f1f1;
}
.accordian_content h2{
    font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #363636;
  padding: 20px;
}
.progressbar_content h2{
      font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #363636;
  padding: 20px;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: #363636;
	border-color:transparent;
}

.panel-heading {
	padding: 6px 25px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.panel-title a {
	display:block;
        text-decoration: none;
}
.panel-title a:focus{
    outline: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: transparent;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0px solid #ddd;
}
.panel {
background-color: #F2F1F1;
border: 0px solid transparent;
border-radius: 0px;
-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-body{
	color:#B1B2B2;
}
.panel-title a:before{
	content:"- ";
	font:25px fontawesume;
	font-weight:900;
		
}
.panel-title a.collapsed:before{
	content:"+ ";
	font:25px fontawesume;
	font-weight:900;
}
.panel-heading.collapsed:before{
	content:"#EFD524";
	background-color: #EFD524;
	
}
.progress {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
.progress-bar {
  background-color: #1cbcb4;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  line-height: 35px;
  padding: 0 30px;
  text-align: left;
  transition: width 0.6s ease 0s;
  width: 0;
  border-radius: 5px;
}
.webdesign{
     background-color:#8ec63f;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  line-height: 35px;
  padding: 0 30px;
  text-align: left;
  transition: width 0.6s ease 0s;
  width: 0;
  border-radius: 5px;
}
.Graphic{
    background-color:#f26d7e;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  line-height: 35px;
  padding: 0 30px;
  text-align: left;
  transition: width 0.6s ease 0s;
  width: 0;
  border-radius: 5px;
}
.seos{
     background-color:#8493ca;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  line-height: 35px;
  padding: 0 30px;
  text-align: left;
  transition: width 0.6s ease 0s;
  width: 0;
  border-radius: 5px;
}
#accordion .highlight {
	background:green;
	transition:background 2s ease;
}
/* End  skill area css */

/* Start  team area css */

.team_member{
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
}
.team_member img{
    border: 5px solid #e7eaea;
     transition: all 0.5s ease-in-out;
    
}
.team_member h4{
    color: #585858;
    font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
   transition: all 0.5s ease-in-out;
}
.team_member h6{
    color: #585858;
    font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  
}
.team_member p {
  color: #989999;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding: 10px 0;
 
}
.team_member i:hover {
    color: #efd524;
}
.team_member i{
    color: #585858;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.team_member:hover.team_member img{
    border: 5px solid #efd524;
   
}
.team_member:hover.team_member h4{
     color:#efd524;
}
/* End  team area css */

/* Start pricing area css */
#pricing{
    background: #f2f1f1;
}
.pricing-table{
    background: #fff;
    border: none;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    margin: 50px 0;
   
}
.pricing-top-one{
    background: #1cbcb4;
}
.pricing-top-two{
    background: #efd524;
}
.pricing-top-thee{
    background: #f26d7e;
}
.pricing-top-four{
    background: #8493ca;
}
.pricing-header {
  padding: 10px;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.price h2{
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
   
}
.price{
	color:#fff;
	
}
.price span{
	font-size: 30px;
	font-weight: bold;
}
.price p sup{
	font-size: 35px;
	top: -3px;
	left: -5px;
}
.price em{
	font-size: 35px;
	font-weight: 900;
}
.price p{
	font-size: 18px;
}
.pricing-top-one .pricing-btn{
    color:#1cbcb4;
}
.pricing-top-two .pricing-btn{
    color:#efd524;
}
.pricing-top-thee .pricing-btn{
    color:#f26d7e;
}
.pricing-top-four .pricing-btn{
    color:#8493ca;
}
.pricing-btn{
	padding: 10px 25px;
	background-color: #FAFAFA;
	margin: 10px  20px ;
	font-size: 18px;
         font-family: 'Raleway', sans-serif;
}
.pricing-table ul {
    list-style: none;
    margin:10px 0;
    
}
.pricing-table ul li{
    padding: 5px 0;
}
.pricing-table ul li i{
    margin-right: 5px;
}
.pricing-table ul li .fa-check{
	color:#656565;
}
.pricing-table .fa-times{
	color:#ADACAC;
}
.pricing-table:hover {
    box-shadow: 2px 2px 6px #ddd;
    transform: scale(1.1);
    
}
/* End Pricing area css */

/* Start Blog post area css */
.blog_header_content{
    margin-bottom: 50px;
}
.blog_post{
    border: 1px solid #ddd;
    background: #f2f1f1;
}
.post-two{
   background: #fff!important;
}
.blog_post_footer {
  background: #4e4d4d none repeat scroll 0 0;
  color: #fff;
  display: inline-flex;
  margin: 20px 0;
  padding: 5px 20px;
  transition: all 0.5s ease-in-out;
}

.date_kipper p{
   color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.date_kipper span{
    font-size: 14px;
}
.date_kipper i{
    font-size: 14px;
}
.blog_header {
  padding: 10px 20px;
}
.blog_header h3{
  color: #343434;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.blog_header span{
  color: #c5c3c3;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.blog_header p{
  color: #989999;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.blog_fearured_img i {
  border: 5px solid #e7eaea;
  border-radius: 100%;
  color: #efd524;
  font-size: 24px;
  padding: 30px;
  z-index: 9999;
  margin-top: -50px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.blog_post:hover
.blog_fearured_img i{
    
    border: 5px solid #efd524;
    background: #faf6dc;
     color: #4e4d4d;
}

.blog_post:hover
.blog_header h3{
    color: #EFD524;
}
.blog_post:hover
.blog_post_footer{
    background: #EFD524;
}

/* End blog post area css */
/* Video Section area css */
#video{
    background: url(../img/video.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fullscreen_videos{ 
    padding: 200px 0;   
}
.fullscreen_videos a:focus{
   outline: none;
}
.fullscreen_videos i {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #dedfdf;
  color: #efd524;
  font-size: 20px;
  padding: 20px;
  border-radius: 100%;
}
/* End video section area css */
/* Start Contact area css */
#contact{
    background: #2f2f2f;
    color: #595959;
     font-family: "Raleway",sans-serif;
}
.address_header h2{
    font-size: 24px;
    
}
.address_header p{
 font-size: 14px;   
}
.form-controls {
  background-color: #2f2f2f;
  background-image: none;
  border: 1px solid #595959; 
  box-shadow: none;
  color: #595959;  
  font-size: 14px;
  height: 50px;
 margin-bottom: 20px;
 padding: 15px 12px;
 width: 100%;
 
}
.form-group {
  
  padding: 0 20px;
}
.contact_button {
  background: #efd524 none repeat scroll 0 0;
  border: medium none;
  color: #fbfdfd;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 115px;
}
.extra_text-area{
    background: #2f2f2f;
    border: 1px solid #595959;
}
.textsss{
    margin-top:55px;
}
.form-control:focus {
  border-color: #2f2f2f;
  box-shadow: none;
  outline: 0 none;
}
/* End Contact area css */

/* Start adviersise area css */
#advertise{
    background: url(../img/counter-bg.jpg)no-repeat scroll 0 0;
    background-size: cover;
}

.advertise_content{
  
    color: #fff;
}
.advertise_content h2{
  
  font-family: "Raleway",sans-serif;
  font-size: 24px;
  font-weight: 700;
  
}
.advertise_content p{
    
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
}
.advertise_content a {
    text-decoration: none;
    
}
.advertise_content a:focus{
    outline: none;
}
.advertise_content .purchase_btn{
      background: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.advertise_content .screenshots_btn{
    background: #efd524;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px; 
}
/* End advertise area css */

/* Start video section area css */

/* End video area css */

/* Start footer widget area css */
#footer_widget{
    background: #2f2f2f;
}
.widget_title h4{
    font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
  color: #828282;
}
.widget_description p{
    font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 400;
  
  color: #828282;
}

.widget_description.inner-item {
	
	display: inline-block;
}
.widget .post-img {
	
	height: 70px;
	float: left;
	margin-right: 10px;
}
.widget a {
	text-decoration: none;
}
.widget .post-details {
	display: block;
	overflow: hidden;
}
.widget .post-details p {
	line-height: 18px;
	margin-bottom: 3px;
}
.widget .post-details p span {
	color: #efd524;
	padding-left: 10px;
}

.widget .latest-tweets span{
	font-style: italic;
}

.widget .latest-tweets p{
	
}
/* End footer widget area css */


/* Start footer area css */
.copyright_text p{
    
    font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  color: #4e4d4d;
}
.main_footer{
    background: #fff;
}
/* End footer area css */


/* css for scrollup */
.scrollup {
    background: #EFD524 none repeat scroll 0 0;
    bottom: 4px;
    color: #fff;
    font-size: 25px;
    height: 40px;
    position: fixed;
    right: 5px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* css for map */
#map {
    width: 100%;
    height: 450px;
}